$color-black: #000;
$color-white: #fff;
$color-orange: #d3470b;
$color-red: #d81717;
$color-grey-light: #929292;
$color-error: #e75d5d;

$color-primary: #c38813;
$color-secondary: #c2b280;

$max-size: 100%;