@import "../../../sass/variables";

.section {


    &--search {
        display: flex;
        justify-content: center;
    }

    &--guests {
        background-color: orangered;
        width: $max-size;
        height: 1000px;
    }
}