@import "../../../sass/variables";

.section {


    &--search {
        display: flex;
        justify-content: center;
    }

    &--guests {
        width: $max-size;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}