@import "../../sass/variables";

.guests-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;

    &__image-box {
        display: flex;
        justify-content: center;
        margin-bottom: .6rem;
    }

    &__image {
        max-width: 50%;
    }

    &__data {
        display: flex;
        gap: .4rem;
    }
}